<mat-sidenav-container [autosize]="false">
    <mat-sidenav #sideNav [fixedInViewport]="true" class="bg-primary text-w" mode="side" opened>
        <div class="d-flex s-header align-items-center justify-content-center">
            <div>
                <mat-icon class="i-x2" aria-hidden="true">dashboard</mat-icon>
            </div>
            <h3 class="ta-center m-0 pl-3 text-wg-b">Panel de datos</h3>
        </div>
        <mat-divider class="divb-w"></mat-divider>
        <div class=" d-flex flex-column">
            <a href="/inicio" mat-button class="text-wg-b ta-left my-3">
                <mat-icon aria-hidden="true">home</mat-icon> &nbsp;
                <span>Dashboard</span>
            </a>
            <mat-divider class="divb-w"></mat-divider>
            <a href="/mapaHabilitados" mat-button class="text-wg-b ta-left mb-2">
                <mat-icon aria-hidden="true">map</mat-icon> &nbsp;
                <span>Mapa Habilitados</span>
            </a>
            <button mat-button class="text-wg-b ta-left mb-2">
                <mat-icon aria-hidden="true">menu_book</mat-icon> &nbsp;
                <span>Otro Boton</span>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class=" bg-w2 ">
        <nav class="shadow ">
            <mat-toolbar class="bg-w">
                <button mat-icon-button (click)="sideNav.toggle() ">
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar>
        </nav>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>